# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/.gitkeep
!data/raw/*.dvc

# Models
models/*
!models/.gitkeep
!models/*.dvc
!models/churn_model.pkl
!models/feature_columns.json
!models/threshold.json

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
